.ril-image-current {
  width: auto;
}

.modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-popup {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 550px;
  z-index: 1000;
  background: white;
  line-height: 1.8;
  margin: 0 auto;
  padding: 2.5rem 1rem;
  font-size: 1.4rem;
  box-shadow: 5px 3px 20px #000;
  border: 9px solid black;
}
.close-btn {
  font-size: 1.3rem;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
}
.close-btn button {
  font-size: 1.3rem;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  #SliceWidgets a {
    bottom: 70vh;
  }
  #SliceWidgets svg {
    display: none;
  }
}
