.carousel .slider-wrapper.axis-horizontal .slider .slide.selected {
  opacity: 1;
  height: 100%;
}

.carousel {
  height: 100% !important;
}

.carousel .slider-wrapper {
  height: 100% !important;
}

.carousel .slider-wrapper .slider {
  height: 100% !important;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  height: 100% !important;
}

.carousel-root {
  height: 100%;
}

.ReactModal__Overlay {
  z-index: 999999 !important;
}
.ril-image-current {
  width: auto;
}
